body {
  text-align: center;
}
section {
  font-family: "Press Start 2P", cursive;
  position: relative;
  display: inline-block;
}
section, section * {
  box-sizing: border-box;
}
h2 {
  font-size: 2em;
}
article {
  padding: 0;
}
#juego {
  border: 5px solid black;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  padding: 1%;
}
#juego * {
  margin: auto;
}
