body {
  text-align: center;
}
section {
  font-family: "Press Start 2P", cursive;
  position: relative;
  display: inline-block;
}
section, section * {
  box-sizing: border-box;
}
h2 {
  font-size: 2em;
}
article {
  margin: auto;
  padding: 0;
  padding-bottom: inherit;
}
.borde {
  position: relative;
  border: 5px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#F {
  position: absolute;
  font-size: 5em;
  -webkit-text-stroke: 3px white;
  display: none;
}
#vidas {
  position: absolute;
  right: 3px;
  top: 3px;
}
#vidas img{
  width: 20px;
}