body {
  text-align: center;
}
section {
  font-family: "Press Start 2P", cursive;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}
section * {
  box-sizing: border-box;
}
h2 {
  font-size: 2em;
}
article {
  margin: auto;
  padding: 0;
  padding-bottom: inherit;
}
.borde {
  position: relative;
  border: 5px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#F {
  position: absolute;
  font-size: 5em;
  -webkit-text-stroke: 3px white;
  display: none;
}
#HUD {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
}
#izquierda {
  position: absolute;
  display: flex;
  left: 0;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
#oleada {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
#derecha {
  position: absolute;
  display: block;
  text-align: right;
  right: 0;
}
#vidas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35.141px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}
#vidas img {
  width: 18px;
  height: fit-content;
  margin-left: 2px;
}
#dinero {
  width: fit-content;
  margin-left: auto;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  color: yellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
#dinero img {
  width: 20px;
}
