body {
  text-align: center;
}
section {
  font-family: "Press Start 2P", cursive;
  position: relative;
  display: inline-block;
}
section, section * {
  box-sizing: border-box;
}
h2{
  font-size: 2em;
}
article {
  margin: auto;
  padding: 0;
  padding-bottom: inherit;
}
.borde {
  border: 5px solid black;
  border-radius: 5px;
}